* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: Montserrat;
}

header {
  width: 100%;
  height: 10%;
  background-color: #ffffffc0;
  box-shadow: 0px 5px 6px #0000001c;
  position: fixed;
  z-index: 5;
}

header .logo img {
  width: 25%;
  height: 110px;
  float: left;
  padding-left: 10vw;
}

header nav {
  width: 50%;
  height: 100%;
  padding-right: 10vw;
  padding-top: 45px;
  float: right;
  display: inline;
  text-align: right;
}

header nav ul li {
  display: inline;
  font-size: 1.5em;
  padding-right: 30px;
  text-transform: uppercase;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

header nav ul li a:hover {
  color: #00acff;
}

header nav ul li a:active {
  color: #00acff;
  text-decoration: underline;
}
header nav ul li .arab {
  font-family: cairo;
  font-weight: semi-bold;
  font-size: 25px;
  float: right;
}

article#main {
  width: 100%;
  height: 75%;
}

section.slogan {
  width: 40%;
  margin-left: 10vw;
  margin-top: 15vh;
  display: inline-block;
}

section.slogan h1#s1{
  font-size: 140px;
  font-weight: bold;
  color: #00acff;
  text-transform: uppercase;
}

section.slogan h1#s2 {
  font-size: 80px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  margin-top: -25px;
}

section.slogan p {
  width: 80%;
  text-align: center;
  line-height: 2;
  font-size: 15px;
  margin-top: 50px;
  color: #707070;
}

section.slogan button {
  width: 400px;
  height: 100px;
  font-size: 45px;
  font-weight: bold;
  background-color: #00acff;
  color: #ffffff;
  margin-top: 55px;
  display: block;
  text-transform: uppercase;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border: 0px;
  margin-left: 140px;
  box-shadow: -5px 5px 6px #0000001c;
}

section.home-image {
  float: right;
  margin-top: 10vh;
  clear: both;
  transform: translateX(-15%);
  -webkit-transform: translateX(-15%);
  -moz-transform: translateX(-15%);
  -ms-transform: translateX(-15%);
  -o-transform: translateX(-15%);
}

section.home-image img {
  transform: scaleX(1.25);
  -webkit-transform: scaleX(1.25);
  -moz-transform: scaleX(1.25);
  -ms-transform: scaleX(1.25);
  -o-transform: scaleX(1.25);
}

article#shortcut {
  width:100%;
  margin-top: 10vh;
  text-align: center;
}

article#shortcut h2 {
  font-size: 35px;
  font-weight: bold;
  color: #595858;
  text-transform: uppercase;
}

article#shortcut section.shortcut-icons button {
border: none;
background: none;
margin-right: 20px;
}

article#shortcut section.shortcut-icons button img {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border: none;
  box-shadow: 2px 5px 5px #0000001c;
}

article#shortcut h3{
  color: #595858;
  text-transform: capitalize;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  position: fixed;
  z-index: 99;
  bottom: 15vh;
  left: 5vw;
}

article#shortcut img#scroll {
  display: block;
  position: fixed;
  bottom: 5vh;
  left: 7.5vw;
  z-index: 99;
}

article#about {
  width: 100%;
  height: 700px;
  color: #ffffff;
  margin-top: 50px;
}

article#about section.title {
  width: 50%;
  height: 100%;
  background-color: #00acff;
  display: inline-block;
}

article#about section.title div.title {
  width: 550px;
  height: 40%;
  font-size: 60px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  padding-top: 250px;
  margin-left: 20%;
  align-items: center;
}

article#about section.title div.title div {
  float: left;
  padding-top: 40px;
}

article#about section.title div.title div p.are {
  padding-top: 30px;
  letter-spacing: 17px;
}


article#about section.title div p.we {
  font-size: 200px;
  color: #ffffff;
  float: right;
}

article#about section.text {
  width: 50%;
  height: 500px;
  background-color: #ffffff;
  color: #909090;
  font-size: 30px;
  box-shadow: -8px 8px 8px #0000001c;
  z-index: 1;
  display: inline-block;
  margin-left: -130px;
  position: absolute;
  margin-top: 100px;
}

article#about section.text p {
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 65px;
  line-height: 1.6;
}

article#our-massage {
  width: 100%;
  height: 700px;
  color: #ffffff;
}

article#our-massage section.text {
  width: 50%;
  height: 500px;
  background-color: #ffffff;
  color: #909090;
  font-size: 30px;
  box-shadow: 8px 8px 8px #0000001c;
  z-index: 1;
  display: inline-block;
  position: absolute;
  margin-top: 100px;
  margin-left: 130px;
}

article#our-massage section.text p {
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 65px;
  line-height: 1.6;
}

article#our-massage section.title {
  width: 50%;
  height: 100%;
  margin-left: 50%;
  background-color: #00acff;
  display: inline-block;
}

article#our-massage section.title div.title {
  width: 550px;
  height: 30%;
  font-size: 200px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  padding-top: 150px;
  margin-left: 25%;
  z-index: 0;
}

article#our-massage section.title div.title p.our {
  letter-spacing: 70px;
  text-align: center;
}


article#our-massage section.title div p.massage {
  font-size: 120px;
  text-align: center;
  color: #ffffff;
}

article#services section.services-title div.container {
  margin: auto;
  margin-top: .5em;
  text-align: center;
  width: 800px;
  height: 250px;
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0px 6px 6px #0000001c;
  padding: 0px;
}

article#services section.services-title div.container h1 {
  float: left;
  height: 200px;
  font-size: 200px;
  color: #dcdcdc;
  text-shadow: none;
  margin-top: 0px;
}

article#services section.services-title div.container h2 {
  margin: 0px;
  padding: 0px;
  height: 100px;
}

article#services section.services-title div.container h2.s {
  letter-spacing: .1em;
}

article#services section.services-title div.container h2.p {
  color: #00acff;
}

article#services section.services-title div.container p {
  margin-top: 1em;
  text-shadow: none;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: .65em;
}

article#services section {
  align-items: center;
  text-align: center;
}

article#services section button {
  background-color: #ffffff;
  border: 0px;
  margin: 5em;
  margin-bottom: 1em;
}

article#partners {
  background-color: #dcdcdc;
  width: 100%;
  height: 1150px;
  margin-top: 1em;
  overflow: hidden;
}

article#partners section.partners-left {
  width: 50%;
  height: 100%;
  margin: 0px;
  float: left;
}

article#partners section.partners-left div.partner-title {
  width: 85%;
  height: 180px;
  margin-left: 10em;
  padding: 0px;
}

article#partners div.partner-title h1 {
  color: #707070;
  height: 1em;
  width: 1.5em;
  letter-spacing: .1em;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  margin-top: 1.95em;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

article#partners div.partner-title h3 {
  font-size: 150px;
  font-weight: bold;
  color: #00acff;
  text-transform: uppercase;
  height: 1em;
}

article#partners div.partner-title p {
  font-size: 25px;
  text-transform: uppercase;
  margin-left: 4.15em;
  letter-spacing: .53em;
  margin-top: 10px;
}

article#partners section.partners-left section {
  width: 80%;
  margin-left: 12em;
  margin-top: 3em;
  float: left;
  z-index: 0;
}

article#partners section.partners-left section div.client {
  background-color: #ffffff;
  display: inline-block;
  margin: 1em;
  width: 260px;
  height: 260px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  box-shadow: 5px 5px 6px #0000001c;
}

article#partners section.partner-image{
  background-color: #f1f1f1;
  margin: 0px;
  height: 100%;
  width: 50%;
  padding: 0px;
  float: right;
  z-index: 1;
}

article#partners section img {
  width: 100%;
}

article#process section.head1 {
  width: 100%;
  height: 20vh;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

article#process section.head1 div.right, div.left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

article#process section.head1 div.left {
  align-items: flex-end;
}

article#process section.head1 div h3 {
  color: #00acff;
  font-size: 5vh;
  line-height: 5vh;
  margin-left: 1vw;
}

article#process section.head1 div h6 {
  font-size: 2vh;
  line-height: 2vh;
}

article#process section.head1 div.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

article#process section.head1 div.center h2 {
  font-size: 10vh;
}

article#process section.head1 div.center h5 {
  font-size: 6vh;
}

article#process section.head2 {
  width: 100%;
  height: 20vh;
  background-color: #00acff;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0vh 10vw;
  justify-items: center;
}

article#process section.head2 p {
  width: 50%;
  font-size: 1vw;
  line-height: 5vh;
  padding: 2vh 0vw;
}

article#why-us {
  width: 100%;
  height: 750px;
  margin: 0px;
  padding: 0px;
}

article#why-us section.title {
  width: 50%;
  height: 100%;
  background-color: #00acff;
  float: left;
  align-items: center;
  text-align: center;
  padding-top: auto;
}

article#why-us section.title h1 {
  font-size: 150px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 1.5em;
}

article#why-us section.title p {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: #707070;
}

article#why-us section.elements {
  width: 50%;
  height: 100%;
  float: right;
}

article#why-us section.elements div {
  height: 30%;
  margin-left: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

article#why-us section.elements div img {
  transform: scale(.75);
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  -ms-transform: scale(.75);
  -o-transform: scale(.75);
}

article#why-us section.elements div h3 {
  width: 70%;
  font-size: 50px;
  font-weight: bold;
  float: right;
  text-transform: uppercase;
  margin-top: 1em;
}

article#question {
  width: 100%;
  margin: 0px;
}

article#question section.form {
  width: 50%;
  height: 100%;
  display: inline-block;
  transform: translateY(-10em);
  -webkit-transform: translateY(-10em);
  -moz-transform: translateY(-10em);
  -ms-transform: translateY(-10em);
  -o-transform: translateY(-10em);
}

article#question section.form div.form {
  margin-left: 7.5em;
  margin-right: 7.5em;
  margin-top: 8.75em;
}

article#question section.form div.form h1 {
  width: 80%;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}

article#question section.form div.form label {
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #c4c4c4;
  display: block;
}

article#question section.form div.form input {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 3px 6px #0000001c;
}

article#question section.form div.form select {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 15px;
  text-transform: uppercase;
  color: #c4c4c4;
  width: 85%;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 3px 6px #0000001c;
}

article#question section.form div.form option {
  font-size: 15px;
  text-transform: uppercase;
  color: #c4c4c4;
}

article#question section.form div.form div.name, .phone, .title, .country {
  display: inline-block;
}

article#question section.form div.form div.title, .country {
  width: 19.5%;
  margin-right: 0px;
}

article#question section.form div.form div.name, .phone {
  width: 80%;
}

article#question section.form div.form div.question input {
  height: 150px;
}

article#question section.form div.form button {
  width: 22%;
  height: 70px;
  margin-left: 37%;
  background-color: #00acff;
  color: #ffffff;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  border: none;
  box-shadow: -3px 3px 6px #0000001c;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

article#question section.question-pic {
  width: 45%;
  display: inline-block;
}

article#contact {
  width: 100%;
  height: 750px;
  margin: 0px;
  padding: 0px;
}

article#contact section.title {
  width: 50%;
  height: 100%;
  background-color: #00acff;
  float: right;
  align-items: center;
  text-align: center;
  padding-top: auto;
}

article#contact section.title h1 {
  font-size: 120px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 2.5em;
}

article#contact section.title p {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #707070;
}

article#contact section.elements {
  width: 50%;
  height: 100%;
  float: right;
}

article#contact section.elements div {
  height: 20%;
  margin-left: 10vw;
  display: flex;
  align-items: center;
}

article#contact section.elements div img {
  width: 8%;
}

article#contact section.elements div h3 {
  width: 70%;
  margin-left: 5vw;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  display: flex;
  padding: 3vh 10vw 3vh 10vw;
  background-color: #C4C4C430;
  width: 100%;
}

footer h2 {
  width: 12%;
  text-transform: uppercase;
  font-size: 1vw;
}

footer img {
  width: 20%;
}

footer div {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  width: 70%;
}

footer div h6 {
  text-transform: uppercase;
  align-self: flex-end;
  font-size: 0.8vw;
}